# Python-related
__pycache__/
.mypy_cache/
.dmypy.json
venv/


# macOS system files
.DS_Store

# Bazel
/user.bazelrc
/.bazel
/windows.bazelrc

# IntelliJ/VSCode configurations
/.idea/
/.vscode/

# Build outputs
/out/
build/
target/
.n2_db
.ninja_log
.ninja_deps

# Node.js
node_modules/
yarn-error.log
ts/.svelte-kit

# Temporary files and logs
*.log
*.tmp
anki.prof

# Extra tools and folders
/extra
